body{
    background-color: #f7f7f7;
    margin:0;
    font-family:'Montserrat', sans-serif;
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100vh;
   
}
.container{
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    border-radius: 5px;
    padding: 30px;
}
form{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 20px;

}
form input[type='text']{
    padding: 10px;
    border: none;
    outline: none;
    font-size: 18 px;
    width:60%;
}
form input[type='submit']{
    background-color:cadetblue;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    font-size: 18 px;
    cursor: pointer;
    outline: none;
    transition: background-color  .3s ease;
}
form input[type='submit']:hover{
    background-color: grey;
}
.icon img{
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

}
.temp{
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}
.desc{
    font-size: 24 px;
    margin-bottom: 20px;

}
.details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.details > div {
    padding: 20px;
    background-color: #f1f1f1;
    margin : 10px;
    flex:1;
    border-radius: 5px;
    text-align: center;
    min-height: 45px;
    
}